*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 1920px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #727272;
  font-weight: 400;
}
.none {
  display: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main {
  flex: 1 1 auto;
}
a {
  text-decoration: none;
}
img {
  vertical-align: top;
}
.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/*----------------------------HEADER-------------------------------*/
.header {
  background-color: #eeeff1;
  min-height: 174px;
}
.navbar__items {
  min-height: 174px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 42px;
}
.navbar__link {
  font-style: normal;
  line-height: 1.62;
  letter-spacing: 0.1em;
  color: #000000;
  padding: 20px 0px 20px 0px;
  user-select: none;
}
.active:hover {
  font-weight: 500;
  color: #34547a;
  text-shadow: 2px 2px 7px #34547a;
}
/*--------------------------MAIN--design ------------------------------------*/
.design {
  padding: 0px 0px 0px 0px;
  background-color: #eeeff1;
  min-height: 516px;
}

.design__items {
  padding: 83px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 540px;
}
.design__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.64;
  color: #000000;
  margin: 0px 0px 60px 0px;
}
.design__text {
  line-height: 1.62;
  text-align: left;
  margin: 0px 0px 65px 0px;
}

.design__btn {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;
  background: #34547a;
  max-width: 225px;
  margin: 0px 0px 131px 0px;
}
.design__btn:hover {
  background: hsla(213, 40%, 34%, 0.8);
  box-shadow: 2px 2px 2px #34547a;
  user-select: none;
  text-shadow: 3px 3px 3px #000000;
  font-size: 17px;
}
.design__btn-link {
  line-height: 1.62;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 15px 35px;
}
/*--------------------------MAIN--about ------------------------------------*/
.about {
}
.container-center {
}
.about__items {
}
.block__items {
  max-width: 540px;
  margin: 100px auto 57px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 50px;
}
.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: #000000;
}
.about__text {
  line-height: 1.62;
}
/*--------------------------MAIN--achievements------------------------------------*/
.achievements {
  background: #34547a;
  min-height: 250px;
}
.achievements__list {
  min-height: 250px;
  display: flex;
  gap: 54px;
  align-items: center;
  text-align: center;
}
.achievements__items {
  display: flex;
  gap: 20px;
}
.achievements__item-logo {
}
.achievements__item-info {
  padding: 5px 0px 0px 0px;
  color: #ffffff;
}
.achievements__item-title {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.19;
}
.achievements__item-subtitle {
  line-height: 1.62;
}
/*--------------------------MAIN--achievements------------------------------------*/
.work {
  background: #eeeff1;
  min-height: 304px;
  padding: 0px 0px 57px 0px;
}
.work__items {
  padding: 100px 0px 0px 0px;
  margin: 0px auto 0px auto;
}

.work__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.9;
  color: #000000;
}
.work__text {
  line-height: 1.5;
}
.content {
  background: #eeeff1;
  padding: 0px 0px 100px 0px;
}
iframe {
  width: 1150px;
  height: 600px;
} 
/*---------------------------------------FOOTER-----------------------------------------*/
.footer {
  background: #34547a;
  min-height: 151px;
  color: #ffffff;
  padding: 20px 0px;
}
.footer__items {
  min-height: 110px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}
.footer__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
}
.footer__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.61;
}
